language: python
dist: xenial
sudo: false
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- '3.7'
before_install:
  - pip install -U setuptools pip
  - pip install coveralls
install:
  - pip install -e .[testing]
script:
  - pylint --rcfile=.pylintrc pact tests setup.py
  - pytest tests --cov=pact
after_success:
  - coveralls
deploy:
  provider: pypi
  user: vmalloc
  password:
    secure: Sru8c67ASNA+JRqtBtxDyQIJyRlHyNhcGdLen6HisGnh27YBmLYpgoYUem3YAwNkIneKgggnafOwhQpyVLGh6qkGtUiUJ76yN/57MrWabqq2N/xjvxpMDvCdB+Y/FeMOxkaEzzkCOauHrsUws/ePX/u65K4GgVQXZB17sDxAGwc=
  on:
    tags: true
    repo: getslash/pact
